ALTER TABLE payment_requests ADD COLUMN IF NOT EXISTS payment_type TEXT; UPDATE payment_requests SET payment_type = 'bank' WHERE payment_type IS NULL; ALTER TABLE payment_requests ALTER COLUMN payment_type SET NOT NULL;
